
/* .heading
{
    color:red;
    background-color: lightblue;

}

p.capitalPara
{
    background-color:beige
}

#firsth2
{
    background-color: pink;
}

.heading.london
{
    color:navy
} */

/* #ottawa
{
    color: black;
}

#top
{
    color:black 
} */


.span
{
    padding: 0, 5px;
    border-top: solid 2px black; 
    border-bottom: solid 4px gray;
}
.paragraph
{
    border: 10px lightgreen;
    border-style: ridge;
    margin: 5px;
    border-width: 10px;
}