
/* .heading
{
    color:red;
    background-color: lightblue;

}

p.capitalPara
{
    background-color:beige
}

#firsth2
{
    background-color: pink;
}

.heading.london
{
    color:navy
} */

#ottawa
{
    color: black;
}

#top
{
    color:black 
}